@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Poppins", sans-serif;
}

span {
  font-family: inherit;
  font-weight: inherit;
}

.blueShadow {
  box-shadow: 3px 3px 0 0 #60a5fa;
}

.blueShadow:hover {
  transform: translate(-3px, -3px);
  box-shadow: 6px 6px 0 0 #60a5fa;
}


li::marker {
  color: #ffff;
  font-size: 1.25em; 
}


/* Loding effect */
.spinner {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-top: 2px solid #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
